body {
    background: url('/img/istockphoto-1333254904-612x612.jpg') no-repeat center/cover;
    height: 100vh;

}

.inputs{
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
   
    padding: 30px;
    border-radius: 20px;
}



.round{
        background: #f4a700f1;
        color: white;
        padding: 6px;
        border-radius: 45%;
  
}

span {
    font-size: 18px;
    font-family: 300;
    color: gray;
}


li h6 {
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-family: 400;
    
}


@media(max-width: 760px){
    .inputs{
        flex-direction: column;
    }
    .li {
        /* height: 50px; */
        border: 2px solid #000000b7;
        margin: 10px 0px;
        padding: 0px 10px;
        border-radius: 4px;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 0px 0px 10px 0px;
    }
}
